@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-slate-50 text-slate-900;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
